/* --------------------Medium Devices--------------- */

@media (min-width:769px) and (max-width: 991px) {

    .title {
        font-size: 35px;
    }

    .title span {
        font-size: 35px;
    }

    .basic {
        font-size: 17px;
    }

    /*=======================================
        Common Css part -Medium Devices
    ===================================== */

    #navbar .nav_container {
        flex-direction: column;
    }

    #navbar .nav_container .logo {
        justify-content: center;
        margin: 0 auto;
        width: 100;
    }

    #navbar .nav_container .nav_items {
        margin: 0 auto;
        padding-top: 40px;
        width: 100%;
    }

    .nav_container .nav_items ul {
        flex-direction: column;
        gap: 25px;
    }

    .nav_container .nav_items .follow_us ul {
        flex-direction: row;
    }

    /* ========================================
                Banner part start
    =========================================== */
    .banner_container {
        flex-direction: column;
        margin: 60px 70px;
    }

    .banner_container .banner_text {
        width: 100%;
        order: 2;
        text-align: center;
        margin-top: 60px;
    }

    .banner_container .banner_img {
        width: 100%;
        order: 1;
    }

    .banner_text h1 {
        font-size: 50px;
    }

    .banner_text p {
        font-size: 28px;
    }

    .banner_text ul {
        padding: 6px 0 20px;
    }

    .banner_text ul li {

        font-size: 13px;
        padding: 7px 0 0;
    }

    .signin_button {
        font-size: 15px;
        padding: 15px 15px;
        margin-right: 15px;
    }

    .go_button {
        font-size: 15px;
        padding: 15px 15px;
    }

    /* ========================================
                Banner part end
    =========================================== */

    /* ========================================
        Online games part start -Medium Devices
    =========================================== */

    .onlinegames_container {
        margin: 60px 70px;
    }

    .onlinegames_heading p {
        padding: 16px 0 25px;
    }

    .onlinegames_img {
        flex-direction: column;
    }

    .test .overly {
        height: 99.5%;
    }

    .onlinegames_items {
        position: relative;
        cursor: pointer;
        width: 100%;
    }

    /* ========================================
                Online games part end
    =========================================== */

    /* ========================================
        Play games part start -Medium Devices
    =========================================== */

    .playgames_container {
        flex-direction: column;
        margin: 0 70px;
    }

    .playgames_container .playgames_img {
        order: 2;
    }

    .playgames_img .test_img {
        width: 100%;
    }

    .playgames_img_2 {
        position: absolute;
        top: 70%;
        width: 100%;
        left: 174px;
    }

    .playgames_img_2 img {
        width: 40%;
    }

    .playgames_text {
        order: 1;
    }

    .playgames_text {
        width: 100%;
        text-align: center;
        gap: 12px;
    }

    .playgames_text h3 {
        font-size: 32px;
        width: 100%;
    }

    .playgames_text p {
        width: 100%;
        padding: 15px 0 20px;
    }

    .playgames_img_2 {
        position: absolute;
        top: 64%;
        width: 100%;
        left: 0px;
        justify-content: end;
        text-align: end;
    }

    .playgames_container .playgames_img {
        order: 2;
        width: 100%;
    }

    .playgames_img .test_img {
        width: 79%;
    }

    /* ========================================
                Play games part end
    =========================================== */

    /* ========================================
    Games categories part start -Medium Devices
    =========================================== */

    .categories_name {
        align-items: center;
        gap: 10px;
        background: #ffffff;
        padding: 4px 7px 4px 4px;
    }

    .games_categories {
        background: #fff9fc;
        margin-top: 240px;
        padding: 0px 35px;
    }

    .categories_list_01 {
        gap: 35px;
        width: 74%;
        margin: 0 auto;
    }

    .categories_name {
        gap: 10px;
        padding: 4px 5px 4px 4px;
    }

    .categories_name img {
        width: 33px;
    }

    .categories_name p {
        font-size: 11px;
    }

    /* ========================================
            Games categories part end
    =========================================== */

    /* ========================================
         Footer part start -Medium Devices
    =========================================== */
    .gamer_part {
        padding: 40px 70px;
    }

    .our_story {
        gap: 20px;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;
    }

    .terms {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        width: 65%;
        margin: 0 auto;
    }

    /* ========================================
                Footer part end
    =========================================== */





}

/* ----------------------Small Devices------------ */

@media (min-width:576px) and (max-width: 768px) {

    .title {
        font-size: 35px;
    }

    .title span {
        font-size: 35px;
    }

    .basic {
        font-size: 12px;
    }

    /*=======================================
        Common Css part -Small Devices
    ===================================== */

    #navbar .nav_container {
        flex-direction: column;
    }

    #navbar .nav_container .logo {
        justify-content: center;
        margin: 0 auto;
        width: 100;
    }

    #navbar .nav_container .nav_items {
        margin: 0 auto;
        padding-top: 40px;
        width: 100%;
    }

    .nav_container .nav_items ul {
        flex-direction: column;
        gap: 25px;
    }

    .nav_container .nav_items .follow_us ul {
        flex-direction: row;
    }

    /* ========================================
         Banner part start -Small Devices
    =========================================== */
    .banner_container {
        flex-direction: column;
        margin: 60px 50px;
    }

    .banner_container .banner_text {
        width: 100%;
        order: 2;
        text-align: center;
        margin-top: 60px;
    }

    .banner_container .banner_img {
        width: 100%;
        order: 1;
    }

    .banner_text h1 {
        font-size: 50px;
    }

    .banner_text p {
        font-size: 28px;

    }


    .banner_text ul {
        padding: 6px 0 20px;
    }

    .banner_text ul li {
        font-size: 13px;
        padding: 7px 0 0;
    }

    .signin_button {
        font-size: 15px;
        padding: 15px 15px;
        margin-right: 15px;
    }

    .go_button {
        font-size: 15px;
        padding: 15px 15px;
    }

    /* ========================================
                Banner part end
    =========================================== */


    /* ========================================
        Online games part start -Small Devices
    =========================================== */

    .onlinegames_container {
        margin: 60px 50px;
    }

    .onlinegames_heading p {
        padding: 16px 0 28px;
    }

    .onlinegames_img {
        flex-direction: column;
    }

    .test .overly {
        height: 99.5%;
    }

    .onlinegames_items {
        position: relative;
        cursor: pointer;
        width: 100%;
    }

    /* ========================================
                Online games part end
    =========================================== */


    /* ========================================
        Play games part start -Small Devices
    =========================================== */

    .playgames_container {
        flex-direction: column;
        margin: 0 50px;
    }

    .playgames_container .playgames_img {
        order: 2;
    }

    .playgames_img .test_img {
        width: 100%;
    }

    .playgames_img_2 {
        position: absolute;
        top: 70%;
        width: 100%;
        left: 174px;
    }

    .playgames_img_2 img {
        width: 40%;
    }

    .playgames_text {
        order: 1;
    }

    .playgames_text {
        width: 100%;
        text-align: center;
        gap: 12px;
    }

    .playgames_text h3 {
        font-size: 32px;
        width: 100%;
    }

    .playgames_text p {
        width: 100%;
        padding: 10px 0 25px;
    }

    .playgames_img_2 {
        position: absolute;
        top: 64%;
        width: 100%;
        left: 0px;
        justify-content: end;
        text-align: end;
    }

    .playgames_container .playgames_img {
        order: 2;
        width: 100%;
    }

    .playgames_img .test_img {
        width: 79%;
    }

    /* ========================================
                Play games part end
    =========================================== */

    /* ========================================
     Games categories part start -Small Devices
    =========================================== */

    .categories_name {
        align-items: center;
        gap: 10px;
        background: #ffffff;
        padding: 4px 7px 4px 4px;
    }

    .games_categories {
        background: #fff9fc;
        margin-top: 200px;
        padding: 0px 50px;
    }

    .categories_list_01 {
        width: 93%;
        margin: 0 auto;
    }

    .categories_name {
        align-items: center;
        gap: 5px;
        background: #ffffff;
        padding: 4px 7px 4px 4px;
    }

    .categories_name img {
        width: 30px;
    }

    /* ========================================
                Games categories part end
    =========================================== */

    /* ========================================
            Footer part start -Small Devices
    =========================================== */
    .gamer_part {
        padding: 40px 50px;
    }

    .social_icon {
        gap: 20px;
        flex-wrap: wrap;
        width: 58%;
        margin: 0 auto;
    }

    .gamer_container .social_icon ul li a {
        font-size: 40px;
    }

    .our_story {
        gap: 20px;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;
    }

    .terms {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        width: 67%;
        margin: 0 auto;
    }

    /* ========================================
                Footer part end
    =========================================== */
}


/* ----------------Extra Small Devices--------------- */

@media (max-width:575px) {

    .title {
        font-size: 35px;
    }

    .title span {
        font-size: 35px;
    }

    .basic {
        font-size: 12px;
    }

    /*=======================================
             Common Css part end
    ===================================== */

    #navbar .nav_container {
        flex-direction: column;
    }

    #navbar .nav_container .logo {
        justify-content: center;
        margin: 0 auto;
        width: 100;
    }

    #navbar .nav_container .nav_items {
        margin: 0 auto;
        padding-top: 40px;
        width: 100%;
    }

    .nav_container .nav_items ul {
        flex-direction: column;
        gap: 25px;
    }

    .nav_container .nav_items .follow_us ul {
        flex-direction: row;
    }

    /* ========================================
        Banner part start -Extra Small Devices
    =========================================== */
.banner{
    order: 2;
}
    .banner_container {
        flex-direction: column;
        margin: 60px 35px;
    }

    .banner_container .banner_text {
        width: 100%;
        order: 2;
        text-align: center;
        margin-top: 60px;
    }

    .banner_container .banner_img {
        width: 100%;
        order: 1;
    }

    .banner_text h1 {
        font-size: 47px;
    }

    .banner_text p {
        font-size: 24px;
    }

    .banner_text ul {
        padding: 6px 0 20px;
    }

    .banner_text ul li {
        font-size: 13px;
        padding: 7px 0 0;
    }

    .signin_button {
        font-size: 15px;
        padding: 15px 15px;
        margin-right: 15px;
    }

    .go_button {
        font-size: 15px;
        padding: 15px 15px;
    }

    /* ========================================
                Banner part end
    =========================================== */

    /* ========================================
    Online games part start -Extra Small Devices
    =========================================== */

    .onlinegames_container {
        margin: 60px 35px;
    }

    .onlinegames_heading p {
        padding: 15px 0 22px;
    }

    .onlinegames_img {
        flex-direction: column;
    }

    .onlinegames_img .overly {
        height: 99.2%;
    }

    .onlinegames_items {
        position: relative;
        cursor: pointer;
        width: 100%;
    }

    /* ========================================
                Online games part end
    =========================================== */


    /* ========================================
    Play games part start -Extra Small Devices
    =========================================== */

    .playgames_container {
        margin: 0 35px;
        flex-direction: column;
    }

    .playgames_container .playgames_img {
        order: 2;
    }

    .playgames_img .test_img {
        width: 80%;
    }

    .playgames_img_2 {
        position: absolute;
        top: 65%;
        left: 0px;
        text-align: end;
    }

    .playgames_img_2 img {
        width: 36%;
    }

    .playgames_text {
        order: 1;
    }

    .playgames_text {
        width: 100%;
        text-align: center;
        gap: 12px;
    }

    .playgames_text h3 {
        font-size: 32px;
        width: 100%;
    }

    .playgames_text p {
        width: 100%;
        line-height: 20px;
        padding-bottom: 15px;
    }

    .playgames_container .playgames_img {
        order: 2;
        width: 100%;
    }

    .playgames_img .test_img {
        width: 88%;
    }

    /* ========================================
                Play games part end
    =========================================== */

    /* =============================================
    Games categories part start -Extra Small Devices
    ================================================*/

    .games_categories {
        background: #fff9fc;
        margin-top: 120px;
        padding: 0px 20px;
    }

    .categories_list_01 {
        gap: 25px;
        justify-content: flex-start;
        width: 56%;
        margin: 0 auto;
    }

    .categories_name {
        align-items: center;
        gap: 10px;
        background: #ffffff;
        padding: 4px 7px 4px 4px;
    }

    /* ========================================
                Games categories part end
    =========================================== */

    /* ========================================
        Footer part start -Extra Small Devices
    =========================================== */

    .gamer_part {
        padding: 40px 35px;
    }

    .our_story {
        gap: 20px;
        flex-wrap: wrap;
    }

    .story_items ul {
        gap: 27px;
    }

    .gamer_container .our_story ul li a {
        color: #FFF;
        font-size: 14px;
        font-weight: 600;
    }

    .social_icon {
        gap: 20px;
        flex-wrap: wrap;
        width: 69%;
        margin: 0 auto;
    }

    .gamer_container .social_icon ul li a {
        font-size: 30px;
    }

    .terms {
        gap: 20px;
        flex-wrap: wrap;
        width: 96%;
        text-align: center;
    }

    .terms_items ul {
        gap: 50px;
    }

    .gamer_container .terms ul li a {
        color: rgba(255, 255, 255, 0.60);
        font-size: 12px;
        font-weight: 500;
    }

    .copyright {
        font-size: 11px;
    }

    /* ========================================
                Footer part end
    =========================================== */

}