@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


a {
    display: inline-block;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* img{
    width: 100%;
    max-width: 100%;
} */


.common_button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #ff42a5;
}

.title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}

.title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;

    font-weight: 700;

}

.basic {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* ==================================
            Common part start
====================================== */

/* ==================================
            Navbar part start
====================================== */

#navbar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

#navbar .nav_container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 35px;
    min-height: 50px;
}


#navbar .nav_container .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;


}

#navbar .nav_container .logo img {
    width: 86px;
}

#navbar .nav_container .logo p {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#navbar .nav_container .logo p span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar .nav_container .nav_items {
    width: 50%;


}


.nav_container .nav_items ul {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
    justify-content: flex-end;
}

.nav_container .nav_items ul li a {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav_container .nav_items .follow_us ul {
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;

}

/* ==================================
            Navbar part end
====================================== */





/* ==================================
            Banner part start
====================================== */

.banner_container {
    max-width: 1440px;
    margin: 20px auto;
    display: flex;
}

.banner_container .banner_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_text p {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;

}

.banner_text h1 {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner_text ul {
    padding: 12px 0 40px;

}

.banner_text ul li {
    color: #534C64;

    font-size: 20px;
    font-weight: 500;
    padding: 15px 0 0;

}

.banner_text ul li span {
    color: #000;
    padding-right: 12px;
}

.banner_container .banner_img {
    width: 50%;

}

.banner_img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.signin_button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #ff42a5;
    margin-right: 20px;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.go_button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #ff42a5;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.signin_button:hover,
.go_button:hover {
    background: #4ec5f7;
}

/* ==================================
            Banner part end
====================================== */



/* ==================================
            Online games part start
====================================== */

.onlinegames_container {
    max-width: 1440px;
    margin: 120px auto;
    text-align: center;

}

.onlinegames_heading p {
    padding: 15px 0 48px;
}


.onlinegames_img {
    display: flex;
    /* justify-content: space-between; */
    gap: 25px;
}


.onlinegames_items {
    /* position: relative; */
    cursor: pointer;
    width: 24%;
    /* height: 400px; */
}

.test {
    position: relative;
}

.test img {
	width: 100%;
	border-radius: 16px;
}

.onlinegames_items:hover .overly {
    opacity: 1;
}

/* .test:hover .icon  {
    opacity: 1;
    color: #f1f1f1;
    font-size: 48px;
} */

.test:hover .icon  {
    opacity: 1;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;

    color: #f1f1f1;
    font-size: 48px;
}
.test:hover .icon p {
    opacity: 1;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;

    
}

.test .overly {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 99.2%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    opacity: 0;
    transition: .4s;

}


.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

/* .icon i {
    color: #f1f1f1;
    font-size: 48px;

    position: absolute;
    top: 32%;
    left: 43%;
    opacity: 0;
    transition: .4s;
}

.icon p {
    position: absolute;
    top: 40%;
    left: 34%;
    opacity: 0;
    transition: .4s;
} */

.onlinegames_img p {
    color: #534C64;
    font-size: 20px;
    text-align: start;
    font-weight: 500;
    line-height: 30px;
    padding-top: 20px;
}

/* ==================================
            Online games part end
====================================== */

/* ==================================
            Play games part start
====================================== */

.playgames_container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.playgames_container .playgames_img {
    /* width: 100%; */
    position: relative;
}

.playgames_img .test_img{
    width: 100%;
}

.playgames_img img {

    vertical-align: middle;
}

/* .playgames_img_2 {
    position: absolute;
    top: 62%;
    right: 8%;
    width: 100%;
} */

.playgames_img_2 {
    position: absolute;
    top: 62%;
    right: -538px;
    width: 100%;
}

.playgames_text {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

}

.playgames_text h3 {
    width: 426px;
}

.playgames_text p {
    width: 483px;

}

/* ==================================
            Play games part end
====================================== */





/* ==================================
        Games categories part start
====================================== */
.games_categories {
    background: #fff9fc;
    margin-top: 230px;
    padding: 130px 0;
}


.categories_container {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    /* padding: 130px 0; */


}

.categories_list_01
 {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding-top: 48px;
    flex-wrap: wrap;

}

.categories_name {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #fff;
    padding: 10px 15px 10px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    cursor: pointer;
    border: 2px solid transparent;
   
}

.categories_name:hover {
    border: 2px solid #FF42A5;
}

.categories_name:hover p {
    color: #FF42A5;
}


.categories_name img {}

.categories_name p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;

}

/* ==================================
        Games categories part end
====================================== */



/* ==================================
            Footer part start
====================================== */
.gamer_part {
    background: #0B0223;
    padding: 120px 0;
}

.gamer_container {
    max-width: 1440px;
    margin: 0 auto;

}

.gamer_container .footer_logo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gamer_container .footer_logo p {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;

}

.gamer_container .footer_logo p span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gamer_container .our_story ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 65px 0;
}

.gamer_container .our_story ul li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;

}

.gamer_container .social_icon ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.gamer_container .social_icon ul li a {
    color: #fff;
    font-size: 40px;
}


.gamer_container .terms ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 65px 0 30px;
}

.gamer_container .terms ul li a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


/* ==================================
            Footer part end
====================================== */